@page "/Conjuros"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<div class="container-fluid">
    <div class="row">
        <div class="col-6 text-end">
            <h1>
                <a href="/conjuros/create">
                    <span class="oi oi-plus" style="color:#EAEAEA;font-size:0.5em"></span>
                </a>
                Dotes
            </h1>
        </div>
        <div class="col-2"></div>
        <div class="col-3 text-center">
            <InputText class="form-control mt-2" @oninput="SearchOnChange" @bind-Value=searchText />
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <GenericList MyList="Conjuros">
                <Body>
                    <table class="table table-striped table-hover" style="color: #EAEAEA">
                        <thead>
                            <tr>
                                <th style="cursor:pointer">
                                    <p>Nombre</p>
                                </th>
                                <th style="cursor:pointer">
                                    <p>Nivel</p>
                                </th>
                                <th class="text-center" style="cursor:pointer">
                                    <p>Escuela</p>
                                </th>
                                <th class="text-center" style="cursor:pointer">
                                    <p>Descripcion</p>
                                </th>
                                <th class="text-center" style="cursor:pointer">
                                </th>
                                <th class="text-center" style="cursor:pointer">
                                </th>
                            </tr>
                        </thead>
                        <tbody style="color: #EAEAEA">
                            @foreach (var conjuro in Conjuros!)
                            {
                                <tr style="color: #EAEAEA; cursor:pointer;">
                                    <td>
                                        <p>@conjuro.Nombre</p>
                                    </td>
                                    <td>
                                        <p>@conjuro.Nivel</p>
                                    </td>
                                    <td class="text-center">
                                        <p>@conjuro.Escuela</p>
                                    </td>
                                    <td class="text-center">
                                        <p>@conjuro.Descripcion</p>
                                    </td>
                                    <td class="text-center">
                                    </td>
                                    <td class="text-center">
                                        <a href="/Conjuros/edit/@conjuro.Id">
                                            <i class="oi oi-pencil" style="color:#EAEAEA"></i>
                                        </a>
                                        <a href="/Conjuros" @onclick="@(() => DeleteAsync(conjuro.Id))">
                                            <i class="oi oi-trash" style="color:#EAEAEA"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Body>
                <Loading></Loading>
            </GenericList>
        </div>
    </div>
</div>


@code {
    public List<Conjuro>? Conjuros { get; set; }
    public List<Conjuro>? conjurosOrigen { get; set; }
    bool sortAsc = true;
    public string? searchText;
    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.Get<List<Conjuro>>("api/Conjuros");
        Conjuros = responseHttp.Response!;
        conjurosOrigen = Conjuros;
    }

    private async Task DeleteAsync(int id)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Realmente deseas eliminar el registro?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHttp = await repository.Delete($"/api/Conjuros/{id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode != HttpStatusCode.NotFound)
            {
                var message = await responseHttp.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
                return;
            }
        }
        await OnInitializedAsync();
    }
    private async Task ShowDetail(Conjuro conjuro)
    {
        var alertConfig = new SweetAlertOptions
            {
                Title = conjuro.Nombre,
                Text = $"Categoría:{conjuro.Escuela}</br> Prerequisitos: +{conjuro.Nivel} Descripcion: +{conjuro.Descripcion}",
            };

        await sweetAlertService.FireAsync(alertConfig);
    }
    private void SortByName()
    {
        if (sortAsc)
        {
            Conjuros = Conjuros!.OrderByDescending(conjuro => conjuro.Nombre).ToList();
            sortAsc = false;
        }
        else
        {
            Conjuros = Conjuros!.OrderBy(conjuro => conjuro.Nombre).ToList();
            sortAsc = true;
        }
    }
    
    private void SearchOnChange(ChangeEventArgs e)
    {
        searchText = e.Value!.ToString();
        UpdateConjurosList();
    }
    private void UpdateConjurosList() => Conjuros = conjurosOrigen!.Where(conjuro => conjuro.Nombre.ToLower().Contains(searchText!.ToLower())).ToList();
}


